header {
    text-align: center;
}
html, body {
    background-color:#fa7878;
}
.main-container {
    border: 3px solid #270faf;
    border-radius: 50px;
    margin: 2rem;
    background-color: #a6afff;
    padding: 1px;
    color: #001931;
    font-family: "Gill Sans", sans-serif;
}
.nombre {
    line-height: 0%;
}
.dg li::marker {
    color: #ff7113;
}
.ex li::marker {
    color: #0160b9;
}
.hb li::marker {
    color: #145500;
}
.hd li::marker {
    color: #b10505;
}